{% extends "codecompanionapp/header.html" %}

{% block content %} 

{% load crispy_forms_tags %}         

<!--Code Optimizer--> 
<div class="container py-5">
	<h1>Letter Generator</h1>
	<form method="post">
        {% csrf_token %}
        <div class="row">
            {{letterGenerator_form.input_name|as_crispy_field}}
        </div>
        <div class="row">
            {{letterGenerator_form.input_type_of_letter|as_crispy_field}}
        </div>
        <div class="row">
            {{letterGenerator_form.input_extra_details|as_crispy_field}}
        </div>
        <div class="row">
            {{letterGenerator_form.input_organisation_details|as_crispy_field}}
        </div>
        <div class="row">
            {{letterGenerator_form.input_designation|as_crispy_field}}
        </div>
            <button class="btn btn-primary" type="submit">Submit</button>
        </form>
</div>

{% endblock %}