<!--Navbar-->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Navbar</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="False" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarText">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" href="/logout">Logout</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Welcome, {{user.username}}</a>
        </li>
        {% if request.user.is_authenticated and request.user.role == "SoftwareDeveloper" %}
        <li class="nav-item">
          <a class="nav-link" href="/codeOptimizer">Code Optimizer</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/codeDebugger">Code Debugger</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/codeReviewer">Code Reviewer</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/commentGenerator">Comment Generator</a>
        </li>
        {% elif request.user.is_authenticated and request.user.role == "SoftwareDevelopmentManager" %}
        <li class="nav-item">
          <a class="nav-link" href="/documentationHelper">Documentation Helper</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/learningPathRecommendations">LearningPathRecommendations</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/letterGenerator">Letter Generator</a>
        </li>
        {% elif request.user.is_authenticated and request.user.role == "HumanResourceManager" %}
        <li class="nav-item">
          <a class="nav-link" href="/resumeFilterer">Resume Filterer</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/summarizeAppraisals">Summarize Appraisals</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/technicalGenerator">Technical Generator</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/unitTestGenerator">Unit Test Generator</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/logout">Logout</a>
        </li>
  
        {% else %}
  
        <li class="nav-item">
          <a class="nav-link" href="/login">Login</a>
        </li>

        {% endif %}
      </ul>
    </div>
  </nav>
  