@import url('https://fonts.googleapis.com/css2?family=Alatsi&display=swap');


.App {
  text-align: center;
  font-family: 'Alatsi', sans-serif;
  padding: 20px;
  background-color: #f4f4f4;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 30px;
  background-color: #282c34;
}

nav .logo {
  color: white;
  font-weight: bold;
  font-size: 1.5em;
}

.header {

  font-size: 1.5em; 
  padding-top: 30px;
}

button {
  background-color: #4CAF50;
  margin: 0 5px;
  padding: 10px 20px;
  font-size: 1em;
  border-radius: 10px;
  color: #282c34;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color: darkgreen;
}

.text-input-container {
  margin-top: 20px;
  text-align: left;
}

.text-input-container textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  height: 150px;
  resize: vertical;
  font-size: 1em;
}

.text-input-container button {
  margin-top: 10px;
}

.login{
  border: 1px solid #282c34;
  border-radius: 8px;
  width: 300px;
  margin: 20px auto;
  background-color: #f4f4f4;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 30px;
  
}


.register {
  display: flex;
  border-radius: 8px;
  width: 300px;
  margin: 20px auto;
  background-color: #f4f4f4;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 30px;
  border: 1px solid #282c34;
  
}

.login h2{
  color: #282c34;
}

.register h2{
  color: #282c34;
}

.login input{
  margin: 10px 0;
  padding: 10px;
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.register input{
  margin: 10px 0;
  padding: 10px;
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.login button{
  color: white;
  cursor: pointer;
  margin-top: 15px;
  padding: 10px 15px;
  border: none;
  border-radius: 4px;
  background-color: #4CAF50;

}

.register button{
  border: none;
  border-radius: 4px;
  background-color: #4CAF50;
  color: white;
  cursor: pointer;
  margin-top: 15px;
  padding: 10px 15px;
  

}

.userdropdown {
  background-color: #f4f4f4;
  color: darkslategray;
  outline: none;
  cursor: pointer;
  width: 100%;
  padding: 10px;
  margin: 10px 0; 
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.userdropdown:hover {
  border-color: white;
}

.userdropdown:focus {
  border-color: #4CAF50;
  box-shadow: 0 0 5px rgba(97, 218, 251, 0.5);
}